{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
    p{
        color: red
    }
    </style>
{% endblock %}

{% block title %}{{ parent() }}Front{% endblock %}
{#
Le fonction twig parent() permet de conserver la valeur située dans le block de la base.html.twig
#}
{% block h1 %}Titre{% endblock %}

{% block body %}

<img src="{{ asset('assets/bureau.jpg') }}" alt="img bureau" class="img300">
<p>
<!--Commentaire html-->
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nostrum dolores nesciunt magnam dolorem? Reiciendis, quis, suscipit sint atque expedita voluptate fugit, voluptates corrupti ea autem fugiat cum reprehenderit ipsum!
</p>

{% endblock %}

{#commentaire
    {{ }} => interpollation

    {% %} => tags, block, if, for
#}